:root {

  --dark-text: #141B24;
  --white: #ffffff;

  --pure-white: #ffffff;
  --border: #cacaca;
  --black: #000000;
  --light-black: rgb(61, 64, 71);
  --copy-right: rgb(80, 83, 89);
  --bg: #f4f5f7;
  --orange: #36a8e0;
}

body {
  background-image: linear-gradient(180deg, #f4f5f7, #e9ecef);
  font-family: "Poppins", sans-serif;
}

/* ----------title------- */
.main-title {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 30px;
}

.main-title h2 {
  line-height: 40px;
  color: var(--dark-text);
  font-weight: 800;
}

.main-title p {
  line-height: 24px;
  color: var(--black);
}

/* -------------font---------------- */

.font14 {
  font-size: 14px;
}

.font15 {
  font-size: 15px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font19 {
  font-size: 19px;
}

.font30 {
  font-size: 30px;
}

.font40 {
  font-size: 40px;
}

.font25 {
  font-size: 25px;
}

.font50 {
  font-size: 50px;
}

.font22 {
  font-size: 22px;
}

/* ---Button---- */
.orange-btn {
  background: var(--orange);
  border-radius: 4px;
  padding: 8px 20px !important;
  color: var(--white) !important;
  ;
  text-transform: uppercase;
  border: 1px solid var(--orange);
  font-weight: 600 !important;
}

.red {
  background: linear-gradient(291deg, rgb(213, 40, 27), rgb(197, 40, 28)) !important;
  border: 1px solid rgb(213, 40, 27);
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infotitle {
  width: 100%;
  position: relative;
  float: left;
}

.infotitle h1 {
  font-weight: 700;
  color: var(--dark-text);
}

/* footer */
.footer {
  width: 100%;
  position: relative;
  float: left;
  padding: 35px 0px 0px 0px;
  background: var(--light-black);
}

.footer-menu {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.footer-menu ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-menu ul li {
  display: block;
  margin-bottom: 10px;
  list-style-type: none;
}

.footer-menu ul li .manu {
  color: var(--pure-white);
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: normal;
}

.footer-menu ul li .manu:hover {
  color: var(--orange);
  transition: 0.3s linear
}

.footer-logo {
  width: 100%;
}

.footer-logo img {
  max-width: 200px;
  width: 100%;
}

.footer .socialfoot {
  text-align: left;
  position: relative;
  padding: 13px 0px 20px 0px;
}

.footer .socialfoot ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.footer .socialfoot ul li {
  display: inline-block;
  margin: 0 7px 7px 5px;
  color: #ffffff;
  font-size: 20px;
}

.footer .socialfoot ul li a {
  background-image: none;
  text-decoration: none;
}

.footer .socialfoot ul li .fb {
  color: #ffffff;
  border-radius: 50px;
  display: block;
  font-size: 19px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  width: 40px;
  background: var(--dark-text);
  border: 1px solid var(--dark-text);
}

.footer .socialfoot ul li .fb:hover {
  background-color: var(--orange);
  color: #FFFFFF;
  border: 1px solid var(--orange);
}

.footer .socialfoot h3 {
  font-weight: 700;
  line-height: 26px;
  color: var(--pure-white);
}

.copyright {
  padding: 15px 15px;
  width: 100%;
  position: relative;
  float: left;
  background: var(--copy-right);
}

.copyright p {
  text-align: left;
  line-height: 24px;
  color: var(--pure-white);
  font-weight: 400;
}



/* card */
.card {
  background: var(--pure-white);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid var(--border);
  height: 210px !important;
  max-height: 210px !important;
  position: relative;
}

.card h2 {
  color: var(--black);
  line-height: 30px;
}

.card h5 {
  color: var(--border);
  line-height: 26px;
  font-weight: normal;
}

.card i {
  color: var(--border);
}

.card label {
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 5px 20px;
  color: var(--border);
}

.card .bottom-sec {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
}

.crd {
  padding: 30px 0px 30px 0px;
  position: relative;
  float: left;
  width: 100%;
  z-index: 222;
}

.main-title {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 20px;
}

.main-title h1 {
  color: var(--black);
  font-weight: 600;
  line-height: 40px;
}

.img-logo {
  /* width: 50px !important; */
  width: 32px !important;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  z-index: 999999;
  position: relative;
  padding: 8px;
  width: 100%;
  background: var(--bg);
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
  font-family: var(--font-primary);
}

.header .logo h1 span {
  color: var(--color-primary);
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
/* @media (min-width: 1280px) { */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 50px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-text);
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}




.mobile-nav-show {
  display: none;
}

/* .mtop{margin-top: -40px;} */
/* responsicve */
@media screen and (max-width: 61.938em) {
  .job-banner {
    padding: 30px 0px 30px 0px !important;
    padding-top: 30px !important;
  }

  .font50 {
    font-size: 30px;
    line-height: 40px;
  }

  .banner {
    padding: 10px 0px 10px 0px !important
  }

  /* sidebar */
  .sidebar {
    max-width: 250px;
    width: 100%;
    padding: 20px;
    background: var(--pure-white);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .sidebar ul {
    margin: 0px;
    padding: 0px;
  }

  .sidebar ul li {
    padding: 10px 0px;
    list-style-type: none;
  }

  .sidebar ul li a {
    text-decoration: none;
    color: var(--dark-text);
  }

  .clse {
    width: 30px;
    height: 30px;
    padding: 10px;
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--pure-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    float: right;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 10px 10px 10px;
    margin: 0;
    background: #EDE7D9;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    font-size: 15px;
    font-weight: 500;
    color: var(--blue);
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }



  .mobile-nav-show {
    display: block;
    position: relative;
    color: var(--blue);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    padding-right: 10px;
  }

  .footer-menu ul {
    display: block;
  }
}

.banner {
  width: 100%;
  position: relative;
  float: left;
  padding: 80px 0px 20px 0px;
  z-index: 999;
}

.banner .banner-img {
  width: 100%;
}

.banner-details {
  width: 100%;
  padding: 30px 0px;
}

.banner-details h1 {
  color: var(--black);
  font-weight: 700;
  line-height: 60px;
}

.banner-details p {
  color: var(--black);
  font-weight: 500;
  line-height: 30px;
}

.select {
  width: 100%;
  margin-bottom: 15px;
}

.owl-theme .owl-nav .owl-next {
  right: -6px;
  background: var(--dark-text) !important;
  color: var(--pure-white) !important;
  top: 35%;
  position: absolute;
  font-size: 16px;
}

.owl-theme .owl-nav .owl-prev {
  border: 1px solid #ffffff;
  background: var(--dark-text) !important;
  color: var(--pure-white) !important;
  right: 5%;
  position: absolute;
  font-size: 20px !important;
  top: 35%;
  left: -10px;
}

.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next {
  /*box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.2);*/
  padding: 0px;
  color: var(--white) !important;
  font-size: 20px !important;
  border-radius: 50px;
  margin: auto 0;
  display: inline-block;
  cursor: pointer;
  background-color: var(--dark-text);
  width: 35px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  border: 1px solid #D5D5D5;
}

.job {
  width: 100%;
  position: relative;
  float: left;
  padding: 30px 0px 30px 0px;
}

.job .job-details {
  width: 100%;
  position: relative;
}

.job .job-details h4 {
  color: var(--dark-text);
  line-height: 28px;
  font-weight: 600;
}

.job .job-details p {
  font-weight: normal;
  color: var(--dark-text);
  line-height: 28px;
  margin-bottom: 0px;
}

.decoration {
  text-decoration: none;
}

.job-card {
  background: var(--white);
  width: 100%;
  position: relative;
  float: left;
  border-radius: 10px;
  padding: 20px;
}

.job-card ul {
  margin: 0px;
  padding: 0px;
}

.job-card ul li {
  display: block;
  margin-bottom: 10px;
}

.job-banner {
  width: 100%;
  min-width: 100%;
  background-image: linear-gradient(to bottom, rgb(244, 245, 247), rgb(233, 236, 239));
  position: relative;
  z-index: 1;
  /* padding-top: 120px; */
  /* padding: 140px 120px 80px; */
  padding: 45px 120px 140px 42px !important;
}

.job-banner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  width: 100%;
  height: 100%;
  /* background-image: url("./img/bg-banner.png"); */
  background-color: #ff726d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  z-index: -1;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.back {
  background: transparent;
  color: var(--orange);
  font-weight: 600;
}

.banner-name {
  color: var(--dark-text);
  font-weight: 600;
}

.color__reset {
  color: #ffffffb3 !important;
  text-decoration: none !important;
}